<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tasks: sample express CRUD app</title>
</head>
<body>
  {{> header}}
  <h2>This worked</h2>
  {{#each tasks}}
    <div>
      <div>{{ name }}</div>
      <p>{{date}} Done: {{done}}</p>
      <a href='/tasks/detail/{{_id}}'>Detail</a>
      <a href='/tasks/update/{{_id}}'>Update</a>
      <a href='/tasks/delete/{{_id}}'>Delete</a>
    </div>
  {{/each}}
  {{> footer}}
</body>
</html>
